<%= form_with scope: :task, url: tasks_path, local: true do |form| %>             
  <p>
    <%= form.label :todo %><br>
    <%= form.text_area :todo %>
    <%= form.label :tag_list %><br>
    <%= form.text_area :tag_list %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>