<!-- Form with attributes Title, Tags, and Details -->

<section id="form">
	<%= form_with model: task do |form| %>       
	<section class="flex-container">
	    <%= form.text_field :title, placeholder: "Title", class:"form-control" %> <br>
	    <%= form.text_field :tag_list, placeholder: "Multiple, Tags, Like, This", value: task.tag_list.join(", "), class:"form-control" %> 
	</section>
	<section class="flex-container">
	    <%= form.text_area :details, placeholder: "Details", class:"form-control form-control-sm " %>
	    <%= form.submit class:"form-control form-control-sm h-auto-md" %>
	</section>   
	<% end %>
</section>