<%= form_with model: @task, local: true do |form| %>       
  <% if @task.errors.any? %>
  	<div id="error_explanation">
  		<p> <%= @task.errors.full_messages %> </p>
  	</div>
  <% end %>

  <p>
    <%= form.label :todo %><br>
    <%= form.text_area :todo %> <br>
    <%= form.label :tag_list %><br>
    <%= form.text_area :tag_list %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>