<%= form_with model: @task do |form| %>       
  <section class="form_content">
    <p>
      <%= form.label :todo %><br>
      <%= form.text_area :todo %> <br>
      <%= form.label :tag_list %><br>
      <%= form.text_area :tag_list %>
    </p>
  </section>
<% end %>