<!-- Task, which contains checkbox, title, actions, and details -->

<% status = get_status(task) %>
<section id=<%=task.id%> class="<%=status%>">
	<div class=" flex flex-row flex-nowrap justify-content-center mb-2">
	<!-- checkbox -->
		<div class="mr-2">
	<%= form_with scope: task, url: completed_task_path(task), method: :patch do |form|%>
		<%= form.check_box :completed%>
		<% end %>
		</div>

	<!-- Title -->		
		<div onclick="ajax_edit('<%=edit_task_path(task)%>')" class="title flex-shrink-5">
		<%= task.title %>
		</div>

	<!-- Actions -->
		<%= render partial: 'actions', locals: {task: task} %>
	</div>
	<!-- Details -->
	<div class= "details">
		<%= task.details %>
	</div>

</section>


