<section id = <%= task.id %>>
	<%= task.id %>
	<%= task.todo %>
	<%= raw(task.tag_list.map{|t| link_to("#{t}", tag_path(t))}.join(", ")) %>
	<%= link_to("Show", task_path(task))%>
	<%= link_to("Edit", edit_task_path(task))%>
	<%= link_to("Delete", task_path(task), method: :delete, remote: true) %>
	<br>
</section>