<%= form_with model: [@task, @task.subtasks.build] do |form| %>       

  <p>
    <%= form.label :todo %><br>
    <%= form.text_area :todo %> <br>
    <%= form.label :tag_list %><br>
    <%= form.text_area :tag_list %>
  </p>
<% end %>