<section id = <%= subtask.id %>>
	Subtask: 
	<%= subtask.id %>
	<%= subtask.todo %>
	<%= link_to("Edit", [subtask.task, subtask], remote: true)%>
	<%= link_to("Delete", [subtask.task, subtask], method: :delete, remote: true) %>
	<br>
</section>